In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('sample.xlsx')

In [10]:
# remove first 2 rows
df = df.iloc[2:]

# use the first row as header
df.columns = df.iloc[0]
df = df.iloc[1:]

In [12]:
# use first column as index
df = df.set_index('S.No')

In [18]:
df.tail()

2,Roll No,Name,Admission Category,OPTIMIZATION TECHNIQUES,COMPUTER NETWORKS,DATA EXPLORATION AND VISUALIZATION,BUSINESS ANALYTICS,MACHINE LEARNING,GEOGRAPHIC INFORMATION SYSTEM,AB / Fail,Total no of days,Absent,Attn %
S.No,,,,,,,,,,,,,
23,111420243024,TALLAPANENI VENKATA LOKESH,Govt,62,82,65,69,78,76,0,NaN,NaN,NaN
24,111420243025,THUMATI DHINESH KUMAR,Govt,AB,AB,AB,AB,AB,AB,6,NaN,#,NaN
25,111420243026,YUVARAJ P,Min,AB,AB,AB,AB,AB,AB,6,NaN,#,NaN
26,111420243301,HARISH,Mngt,61,86,60,60,77,61,0,NaN,NaN,NaN
NaN,NaN,Subjects,NaN,AD8501,CW8691,AD8502,AD8551,AD8552,NaN,55,NaN,Total,1

In [23]:
# get first record
rec = list(df.iloc[0])
subjects = list(df.iloc[-1])[3:-5]

In [25]:
regno = rec[0]
name = rec[1]
marks = rec[3:-5]
total = 35 #rec[-3]
percentage = 80 #rec[-1]
absent = 8 #rec[-2]
present = total - absent

print([regno, name, present, absent, total, percentage, marks, subjects])

[111420243001, 'AJAY B', 27, 8, 35, 80, ['AB', 56, 60, 60, 60], ['AD8501', 'CW8691', 'AD8502', 'AD8551', 'AD8552']]

['AD8501', 'CW8691', 'AD8502', 'AD8551', 'AD8552']